In [7]:

import pandas as pd
from sqlalchemy import create_engine
from time import time 
import argparse

In [4]:
df = pd.read_csv("F:\\data-engineering-zoomcamp\\taxi_zone_lookup.csv")

In [8]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [13]:
df.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [12]:

    df.head(n=0).to_sql(name="zones", con=engine, if_exists='replace')
    df.to_sql(name="zones", con=engine, if_exists='append')

265